@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,900|Poppins:400,700|Source+Sans+Pro:400,400i,700');

html, body {
	margin: 0;
	padding: 0;
}

*,
.lato,
.lato * {
	font-family: "Lato";
}

.poppins,
.poppins * {
	font-family: "Poppins";
}

.dotdotdot:after {
	overflow: hidden;
	display: inline-block;
	vertical-align: bottom;
	animation: ellipsis steps(4,end) 900ms infinite;
	content: "\2026";
	width: 0em;
}

@keyframes ellipsis {
	to {
		width: 1em;
	}
}

.main {
}

.bar {
	fill: #black;
}
.bar.conservatives {
    fill: blue;
}
.bar.labour {
    fill: red;
}
.bar.liberaldemocrats {
    fill: yellow;
}
.bar.ukip {
    fill: purple;
}
.axis path,
.axis line {
    fill: none;
    stroke: #D4D8DA;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}
.x path {
	display: none;
}
.toolTip {
	position: absolute;
    display: none;
    min-width: 80px;
    height: auto;
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #6F257F;
    padding: 14px;
    text-align: center;
}

.bartext {
  fill: white;
  font-family: sans-serif;
  font-size: 12px;
}

.justify {
	text-align: justify;
}

a {
	text-decoration: none;
	color: #0ac9ba;
}

a:hover {
	color: #85eae2;
}

#results {
	font-size: 14px;
}

.inset {
	-webkit-box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,0.5);
	box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,0.5);
	background-color: white;
	border-radius: 5px;
	background-image: url('./greyzz.png');
}

.share_btn {
	color: white;
	box-sizing: border-box;
	font-size: 0.8em;
	width: 140px;
	padding: 10px;
	border-radius: 5px;
	text-transform: uppercase;
	display: inline-block;
	margin: 0 5px;
	transition: all 0.3s;
}

.share_btn:hover {
	color: white;
	transform: scale(1.1);
}

#all_advertisers_body img {
	width: 40px;
	height: 40px;
	border-radius: 5px;
}
