/* debug styles */

img {
    max-width: 100%;
    max-height: 500px;
}
._150c {
    height: auto;
}
[id^="substream"] {
    height: auto !important;
}

[data-testid="fbfeed_story"]:before {
    width: 100%;
    position: absolute;
    font-family: monospace;
    z-index: 999;
    font-weight: bold;
    font-size: 20px;
    background: white;
    padding: 3px;
    border: 1px solid pink;
    top: 0%;
    left: calc(105% + 10px);
    color: maroon;
    content: "[data-testid='fbfeed_story'] - top level position in timeline";
}
[data-testid="fbfeed_story"] {
	outline: 10px solid pink;
	margin: 30px 0 !important;
}

.fbUserContent:before {
    width: 100%;
    position: absolute;
    font-family: monospace;
    z-index: 999;
    font-weight: bold;
    background: white;
    border: 1px solid green;
    padding: 3px;
    top: 50%;
    left: calc(105% + 10px);
    color: green;
    content: ".fbUserContent - the whole ad box, with user data";
}
.fbUserContent {
    position: relative;
    border: 8px solid green;
}

.fbUserContent > div:first-child:before {
    width: 100%;
    position: absolute;
    font-family: monospace;
    z-index: 999;
    font-weight: bold;
    background: white;
    border: 1px solid black;
    padding: 3px;
    top: 20%;
    left: calc(105% + 10px);
    color: black;
    content: ".fbUserContent > div:first-child - ad data WITHOUT PERSONALISATION";
}
.fbUserContent > div:first-child {
    position: relative;
    outline: 4px solid black;
}

.fbUserContent > div:first-child [href*=top_level_post_id]:before {
    width: 100%;
    position: absolute;
    font-family: monospace;
    z-index: 999;
    font-weight: bold;
	font-size: 40px;
    background: white;
    padding: 3px;
    top: 65%;
    left: calc(105% + 10px);
    color: red;
    content: "It's an ad!";
}
.fbUserContent > div:first-child [href*=top_level_post_id] {
    /*position: relative;*/
    border: 5px solid blue;
}
.fbUserContent > div:first-child [href*=mf_story_key] {
    outline: 5px solid red;
}

.userContent:before {
    width: 100%;
    position: absolute;
    font-family: monospace;
    z-index: 999;
    font-weight: bold;
	font-size: 10px;
    background: yellow;
    padding: 3px;
    top: 10%;
    left: calc(105% + 10px);
    color: black;
    content: "userContent - use for relative positioning";
}
.userContent {
    /*position: relative;*/
    outline: 10px solid yellow;
}

pre:hover {
    background: rgba(255,255,255,0.8);
    z-index: 9999;
    position: relative;
}
