.PageResults {
  background-color: #2d2d2d;
  min-height: 100%;
  color: white;
  overflow: hidden;
}

.TopAdvertiser {
  padding: 10px;
  width: 100%;
  text-align: center;
  border: 2px solid white;
  border-radius: 4px;
}

.first_place {
  width: 40px;
  position: absolute;
  left: 5px;
  bottom: -20px;
}

.statbox {
  width: 100%;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 20px;
  animation-name: statbox-animation;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
}
.mainstatbox {
  background-color: #f2f2f2;
  min-height: 260px;
  max-height: 260px;
}

.statbox:last-child {
  margin-bottom: 0;
  min-height: 150px;
}

.statbox.inverted {
  background-color: transparent;
  border: 2px solid white;
}

.statbox.inverted * {
  color: white;
}

.statbox h2 {
  margin-bottom: 0;
}

.statbox hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 1px solid #ccc !important;
}

.statbox * {
  color: #222;
}

.statbox .title_percentage {
  background-color: #ed6a53;
  border-radius: 4px;
  font-size: 0.8em;
  padding: 0.1em 0.2em;
  color: white;
  margin-right: 10px;
  display: inline-block;
  vertical-align: bottom;
}

.statbox.an-or-1 {
  animation-delay: 0.1s;
}

.statbox.an-or-1 {
  animation-delay: 0.2s;
}

@keyframes statbox-animation {
    from {margin-top: -20px; opacity: 0;}
    to {margin-top: 0px; opacity: 1;}
}

.FormSelect__arrows {
  margin-bottom: 12px;
}

/* Statistics views */
.box{
  max-width: 100%;
  max-height: 270px;
  padding-left: 20px;
  display: flex;
  flex-flow: row nowrap;
  font-size: 0.8rem;
  overflow-y: scroll;
}
.closeView{
  display: inline-block;
  float: right;
  padding-left: 5px;
  margin-top: -3px;
  border: 1px solid lightgrey;
  min-width: 20px;
  min-height: 20px;
  cursor: pointer;
}
.closeView:hover{
  background-color: lightgrey;
}
.container{
  display: flex;
  width: 600px;
  flex-flow: column nowrap;
  height: 210px;
  min-height: 210px;
  padding: 20px;
  font-size: 0.8rem;
  margin-left: 50px;
}
.chart{
  display: flex;
  flex:1;
  border-bottom: 2px solid #f2f2f2;
  justify-content: space-around;
  min-height: 130px;
  width: 600px;
}
.labels{
  display: flex;
  flex-shrink: 2;
  flex:1;
  width: 600px;
}
.bar{
  max-width: 50px;
  flex: 1;
  align-self: flex-end;
  margin: 0px 10px;
  transition: all 1s ease;
  cursor: pointer;
}
.label{
  flex: 1;
  text-align: center;
}
.name{
  font-weight: bold;
  margin-top: 5px;
}
.link{
  color: #0A4496;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}
.link_underline:hover{
  text-decoration: underline;
  cursor: pointer;
}
.noLink{
  color: grey;
}
.disabledLink {
  color: lightgrey;
}
.party{
  color: black;
}
footer{
  font-size: 0.9rem;
  text-align: center;
}
img{
  width: 100px;
}
.subMessage{
  flex: 1;
  max-width: 600px;
  margin-left: 100px;
  line-height: 24px;
  text-align: center;
}
.buttonFB, .buttonTW{
  color: white;
  background-color: #3b5998;
  border-color: #3b5998;
  width: 190px;
  margin: 10px;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  font-size: 16px;
}
.buttonTW{
  background-color: #00aced;
  border-color: #00aced;
}
.resultsSubHeader{
  margin-top: -10px;
  line-height: 20px;
}
.centeredSpinner{
  margin: 130px auto;
}
.mainHeader {
  font-weight: 600;
  line-height: 25px;
}

/* Styles related to DeleteRequestPage */
.deleteRequestContainer {
  display: flex;
  flex: 1;
  flex-flow: row nowrap;
  justify-content: space-around;
  height: 300px;
  min-height: 300px;
  padding: 20px 50px;
  font-size: 0.8rem;
}
.column{
  flex: 1;
  font-size: 0.9rem;
  text-align: center;
  max-width: 25%;
}
.buttonRed, .buttonGrey, .buttonCancel{
  color: white;
  background-color: #999999;
  border-color: #999999;
  width: 160px;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  font-size: 18px;
  margin-bottom: 20px;
  cursor: default;
}
.buttonRed{
  background-color: red;
  border-color: red;
  cursor: pointer;
}
.buttonGrey:hover, .buttonGrey:active, .buttonGrey:focus{
  color: white;
  border-color: #999999;
  background-color: #999999;
  cursor: default;
}
.buttonCancel:hover, .buttonCancel:active, .buttonCancel:focus{
  color: #999999;
  border-color: #999999;
  background-color: #f2f2f2;
  cursor: pointer;
}

/* Styles related to rationales display */
table{
  font-size: 0.9rem;
  text-align: center;
}
.text{
  text-align: left;
  font-family: Helvetica, Arial, Sans-Serif;
  font-size: 13px;
}
td{
  padding: 5px;
  min-width: 150px;
  border-bottom: 2px solid lightgrey;
}
th{
  background-color: lightgrey;
}
tr{
  border-bottom: 2px solid grey;
}

/*Rationale*/
.boxNoFlex {
  max-width: 100%;
  max-height: 220px;
  flex-flow: row nowrap;
  font-size: 0.8rem;
  overflow-y: scroll;
  overflow-x: hidden;
  text-align: left;
  margin-left: 20px;
}
.adCol {
  margin-left: 10px;
  font-family: poppins;
  font-size: 11px;
  padding-bottom: 10px;
}
.adCol p {
  margin: 0 0 .5em 0;
}
.whiteBackground {
  background-color: white;
}
.rationale {
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: left;
  font-family: Helvetica, Arial, Sans-Serif;
  font-size: 13px;
}
.headerRow {
  line-height: 0;
  height: 27px;
  padding-top: 2px;
  margin-bottom: 10px;
  background-color: white;
  text-align: left;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}
.colHeader {
  font-weight: 600;
  font-size: 13px;
  margin: 10px 0px 10px 10px;
  flex-wrap: nowrap;
  text-align: left;
  padding: 3px 0px;
}
.targetingHeader {
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  margin: 15px 0px -15px 10px;
}

/* Tabs */
.tabs{
  position: absolute;
  left: 30px;
  top: -35px;
}
.tab{
  height: 35px;
  width: 80px;
  font-weight: 600;
  font-size: 13px;
  text-align: center;
  line-height: 35px;
  vertical-align: middle;
  background-color: white;
  border-radius: 20% 20% 0% 0%;
  display: inline-block;
  cursor: pointer;
}
.tabLong{
  height: 35px;
  width: 80px;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
  background-color: white;
  border-radius: 20% 20% 0% 0%;
  display: inline-block;
  cursor: pointer;
  padding: 5px 5px 0px 5px;
}
.tabActive{
  background-color: #f2f2f2;
  border-bottom: none;
}
