/* BASE STYLES */

body {
  background: url('./background.jpg');
  background-size: cover;
  font-size: 15px;
}

hr {
  border-top: 1px solid #fff !important;
}

#root {
  width: 800px;
  height: 600px;
  color: white;
}

.middle-outer {
    display: table;
    height: 100%;
    width: 100%;
}

.middle-inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
