/* BASE STYLES */

@font-face {
  font-family: 'Poppins';
  font-weight: 200;
  src: url('./Poppins-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  src: url('./Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  src: url('./Poppins-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  src: url('./Poppins-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 700;
  src: url('./Poppins-Bold.ttf') format('truetype');
}

body {
  font-size: 15px;
  font-family: Poppins;
  font-weight: normal;
}

hr {
  border-top: 1px solid #fff !important;
}

p {
  margin: .5em 0;
}

#root {
  width: 800px;
  height: 600px;
}

.middle-outer {
  display: table;
  height: 100%;
  width: 100%;
}

.middle-inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.multiline * {
  line-height: 1.5em;
}

.RegistrationButtons .Button {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
